<a href="https://colab.research.google.com/github/Bambaribam/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1; print(type(a))
b = 'world'; print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
a = 1
b = 2
c = 3
print(a)
print(b); print(c)

1
2
3

In [ ]:
a = 1; a = float(a); print(type(a)) #int를 float로 바꿈 #a가 1.0이라고 나옴

<class 'float'>

In [ ]:
a = 1.2; a = int(a); print(type(a)) #a가 1이라고 나옴

<class 'int'>

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [ ]:
a = 'korea'
print(type(a))
print(a[0])

<class 'str'>
k

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [2]:
a = [1,'cde', 3]
print(a)
print(a[1])

[1, 'cde', 3]
cde

In [3]:
a = [1, 2, 3]
print(a[0])
print(a[2])

1
3

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a = [1,2,3]
a[0]=-1 #튜플은 내용 수정 안됨 #리스트만 가능함
print(a)

[-1, 2, 3]

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [5]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])
print(a["c"])

<class 'dict'>
apple
2014

In [4]:
a=[(1,2,3), (3,8,0)]
print(type(a))
print(a)
print(a[0])

<class 'list'>
[(1, 2, 3), (3, 8, 0)]
(1, 2, 3)